body {
	background: hotpink;
}

footer {
	position: absolute;
	width: 40%;
	left: 30%;
	right: 30%;
	text-align: center;
	/*border: 1px solid black;*/
}

#ferrel {
	padding: 2%;
	border: 1px black ridge;
}

#plane {
	margin: 2%;
	border: 1px white ridge;
}

.links:visited {
	color: green;
}

#form {
	background-image: url("tennis-ball.jpg");
	background-size: 20%;
}

#firstpara {
	font-family: "Comic Sans MS";
}